header
    .header__top
        .container(class="flex")
            .header__menu
                input(type="checkbox" id="menu-bar")
                label.main-menu-btn-icon(for="menu-bar") 
                nav.navbar                                                     
                    ul 
                        li 
                            a(href="#") About us
                            ul.default
                                li 
                                    a(href="#") About-sub-1
                                li 
                                    a(href="#") About-sub-2
                        li
                            a(href="#") Products
                            ul 
                                li 
                                    a(href="product_chips.html") 
                                        img(src=img+"8.png", alt="")
                                        .link__text Chips
                                li 
                                    a(href="product_popkorn.html")
                                        img(src=img+"2 1.png", alt="")
                                        .link__text Pop corn
                        li 
                            a(href="blog.html") Blog
                        li 
                            a(href="contact.html") Contacts
            label.language(for="hider" id="clickme")
                img(src=img+"Vector.svg", alt="")
            <input type="checkbox" id="hider">
            .lang
                a.language-ru(href="#") RUS
                a.language-en(href="#") EN
    .header__bottom
        .container(class="flex")
            a.logo(href="/")
                img(src=img+"LOGO.svg", alt="")
            a(href="#") 
                img(src=img+"Vector (1).svg", alt="")
            a(href="#") 
                img(src=img+"Subtract.svg", alt="")
